.CoinsListItem {
  position: relative;
  display: flex;
  padding: 0 6px;
  align-items: center;
  justify-content: space-between;
  text-transform: lowercase;
  background: #fff;
  height: 35px;
}
.CoinsListItem:hover {
  background: navy;
  color: #fff;
}
.CoinsListItem-image {
  position: relative;
  height: 24px;
  width: 20px;
  border-bottom: 2px solid #050608;
  border-right: 2px solid #050608;
  border-left: 2px solid #ced0cf;
  border-top: 2px solid #ced0cf;
  flex-shrink: 0;
  background: #fff;
}
.CoinsListItem-image:before {
  content: "";
  position: absolute;
  right: -2px;
  top: -2px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  background: #fff;
}
.CoinsListItem-image:after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0px;
  width: 7px;
  border-top: 2px solid #ced0cf;
  transform: rotate(45deg);
}
.CoinsListItem-image__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CoinsListItem-title {
  position: absolute;
  padding-left: 2em;
}

.CoinsListItem-stats {
  width: 150px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
}
.CoinsListItem-stats__item {
  width: 50%;
  text-align: right;
}
