.CoinDetails-windowHeader__icon {
  height: 24px;
  width: auto;
  background: #fff;
  margin-right: 0.5em;
}

.CoinDetails-details {
  width: 100%;
}
.CoinDetails-details-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  line-height: 35px;
}

.CoinDetails-details__title {
  width: 50%;
}
.CoinDetails-details__value {
  font-weight: bold;
  width: 50%;
  /* text-align: right; */
}

.btns {
  display: flex;
  flex-wrap: nowrap;
  /* padding: 1em 0; */
  padding-bottom: 1em;
  padding-top: 4px;
}
