.Checkbox {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.Checkbox__checkmark {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;

  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.Checkbox__checkmark:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #888c8f;
  border-top: 1px solid #888c8f;
  /* border-left: 2px solid #050608;
  border-top: 2px solid #050608; */
}
.Checkbox--checked ~ .Checkbox__checkmark {
  background-color: #fff;
}
.Checkbox--checked .Checkbox__checkmark:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: calc(50% - 1px);
  width: 3px;
  height: 7px;

  border: solid #000;
  border-width: 0 3px 3px 0;

  transform: translate(-50%, -50%) rotate(45deg);
}
