.Table-wrapper {
  position: relative;
  /* overflow: hidden; */
  background: #fff;
  margin-bottom: 1em;
  border-bottom: 2px solid #dfe0e3;
  border-right: 2px solid #dfe0e3;
  border-top: 2px solid #050608;
  border-left: 2px solid #050608;
}
.Table-wrapper:before {
  content: "";
  position: absolute;
  right: -4px;
  top: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #888c8f;
  border-top: 2px solid #888c8f;
}

.Table {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  /* table-layout: fixed; */
}
